ios/omniture.xcodeproj/project.xcworkspace/xcuserdata/zpapp.xcuserdatad/UserInterfaceState.xcuserstate
ios/omniture.xcodeproj/project.xcworkspace/xcuserdata/zpapp.xcuserdatad/WorkspaceSettings.xcsettings
ios/omniture.xcodeproj/xcuserdata/zpapp.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ios/omniture.xcodeproj/xcuserdata/zpapp.xcuserdatad/xcschemes/Build & Test.xcscheme
ios/omniture.xcodeproj/xcuserdata/zpapp.xcuserdatad/xcschemes/omniture.xcscheme
ios/omniture.xcodeproj/xcuserdata/zpapp.xcuserdatad/xcschemes/xcschememanagement.plist
