build/*
build
build.log
*.class
*.pyc
*.pyo
tmp
.DS_Store
.svn
.svnignore
Instruments.trace/*
ios/yuidoc/*
android/yuidoc/*
*.jar
*.so
*.zip
*.xccheckout
ios/omniture.xcodeproj/xcuserdata/*
ios/omniture.xcodeproj/project.xcworkspace/xcuserdata/*
android/build.properties
/ios/metadata.json
